{% extends "base/base.html" %}

{% load i18n %}
{% block head_title %}Voyajoy |{% trans "Change Password" %}{% endblock %}
{% block seo_title %}Voyajoy | {% trans "Change Password" %}{% endblock %}

{% block content %}

    <section class="hg-contact">
        <div class="container">
            <div class="hg-title-block txt-center">
                <h3 class="hg-title-block__title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>
            </div>

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="hg-form-component">
                                            {{ form.password1 }}
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="hg-form-component">
                                            {{ form.password2 }}
                                        </div>
                                    </div>

                                <div class="col-sm-12">
                                    <div class="hg-form-component">
                                        <button class="hb_btn btn-gradient " name="action" type="submit">{% trans 'change password' %}</button>
                                    </div>
                                </div>
                                    </div>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>

            </div>
        </div>


    </section>



{% endblock %}
