<!-- start wellcome section -->
<div class="hg-wcome-container container">
    <div class="hg-wcome-content">
        <h3>Welcome</h3>
        <p>By being here, you are one step closer to finding that perfect short term stay for your next adventure. We are happy that you have chosen Voyajoy to allow us to assist you with finding the perfect stay that meets your needs, makes you feel safe, that is right for you and most importantly makes you feel happy.

            Book your stay with us and receive one of the lowest rates of any of # host destinations. We work closely with our homeowners, property managers and hoteliers to offer the best deals that you will find here.

            Start below with your dates and key details about what makes your next vacation terrific!
        </p>
    </div>
</div>
<!-- start separator -->
<div class="clearfix hg-separator">
    <span class="hg-separator__line hg-separator__line--left"></span>
    <span class="hg-separator__icon"></span>
    <span class="hg-separator__line hg-separator__line--right"></span>
</div>
<!-- end separator -->

<!-- start icon box section -->

<div class="row hg-content-iconbox">

    <div class="col-md-12 col-sm-12">
        <div class="col-md-4 col-sm-4">
            <div class="hg-iconbox">
                <div class="hg-iconbox__icon-wrapper">


                    <span class="hg-iconbox__icon fa fa-lock" style="font-size: 40px;"></span>
                </div>
                <div class="hg-iconbox__content-wrapper">
                    <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                        <h3>
                            <a href="#">Secure Transactions</a>
                        </h3>
                    </div>
                    <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                        <p class="hg-iconbox__desc">Our online payment system is fully secured for instant booking٫
                        </p>
                    </div>

                </div>
            </div>
        </div><!-- end column -->
        <div class="col-md-4 col-sm-4">
            <div class="hg-iconbox">
                <div class="hg-iconbox__icon-wrapper bed_wrapper">
                    <span class="hg-iconbox__icon fa fa-check" style="font-size:40px;"></span>
                </div>
                <div class="hg-iconbox__content-wrapper">
                    <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                        <h3>
                            <a href="#">Verified Properties</a>
                        </h3>
                    </div>
                    <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                        <p class="hg-iconbox__desc">All our properties have been verified so book with confidence٫
                        </p>
                    </div>

                </div>
            </div>
        </div><!-- end column -->
        <div class="col-md-4 col-sm-4">
            <div class="hg-iconbox">
                <div class="hg-iconbox__icon-wrapper">
                    <span class="hg-iconbox__icon fa fa-user" style="font-size: 40px;"></span>
                </div>
                <div class="hg-iconbox__content-wrapper">
                    <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                        <h3>
                            <a href="#">Customer Support</a>
                        </h3>
                    </div>
                    <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                        <p class="hg-iconbox__desc">24/7 access to help with any questions.
                        </p>
                    </div>

                </div>
            </div>
        </div><!-- end column -->
    </div>

    <div class="col-md-12 col-sm-12">

        <div class="col-md-4 col-sm-4">
            <div class="hg-iconbox">
                <div class="hg-iconbox__icon-wrapper boat_wrapper">
                    <span class="hg-iconbox__icon fa fa-money" style="font-size: 40px;"></span>
                </div>
                <div class="hg-iconbox__content-wrapper">
                    <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                        <h3>
                            <a href="#">Price Guarantee</a>
                        </h3>
                    </div>
                    <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                        <p class="hg-iconbox__desc">We get you the best possible price for our properties.
                        </p>
                    </div>

                </div>
            </div>
        </div><!-- end column -->
        <div class="col-md-4 col-sm-4">
            <div class="hg-iconbox">
                <div class="hg-iconbox__icon-wrapper boat_wrapper">
                    <span class="hg-iconbox__icon fa fa-calendar" style="font-size: 40px;"></span>
                </div>
                <div class="hg-iconbox__content-wrapper">
                    <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                        <h3>
                            <a href="#">Accurate Calendars</a>
                        </h3>
                    </div>
                    <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                        <p class="hg-iconbox__desc">Availability is accurately update to ensure bookings.
                        </p>
                    </div>

                </div>
            </div>
        </div><!-- end column -->

    </div>
</div>

<!-- end icon box section -->
<!-- start separator -->
<div class="clearfix hg-separator--icon-no"></div>