<!-- START FOOTER SECTION -->
<footer>
    <div class="hg-footer container">
        <div class="hg-footer--row row">
            <div class=" col-md-12 col-sm-12">
                <ul class="footer-nav">
                    <li class="footer-nav__item"><a href="{% url 'index_page' %}">Home</a></li>
                    <li class="footer-nav__item"><a href="{% url 'careers' %}">Careers</a></li>
                    <li class="footer-nav__item"><a href="{% url 'tos' %}">Terms of service</a></li>
                    <li class="footer-nav__item"><a href="{% url 'policy' %}">Privacy Policy</a></li>
                    <li class="footer-nav__item"><a href="{% url 'about' %}">About Us</a></li>


                </ul>
                <div class="clearfix hg-title-block">
                    <h3 class="hg-title-block__title">Follow us:</h3>
                </div>
                <ul class="footer-social">
                    <li class="footer-social__item "><a href="https://www.facebook.com/Voyajoy/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="footer-social__item"><a href="https://twitter.com/Voyajoy"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="footer-social__item"><a href="https://www.instagram.com/voyajoy/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                </ul>
                <div class="hg-textbox">
                    <p class="copyright">


                        Voyajoy Inc٫

                        <br> PO Box 7775 #66315, San Francisco, CA, 94120-7775


                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>	<!-- end footer section -->