{% load staticfiles %}
<section class="hg-reviews"><!--flex -->

    <div class="hg-reviews-bg rellax" data-rellax-percentage="0.9"
         style="background-image: url('{% static 'images/santorinipano.jpg' %}')">
        <div class="overlay--opacity">
        </div>
    </div>

    <!-- end bg -->
    <div class="hg-reviews--custom-height container"><!-- flex center -->
        <div class="hg-testimonialSlider" style="z-index:9;">
                <!-- testimonial1 -->
                <div class="testim bluebox-margin">
                    <div class=" hg-title-block">
                        <h3 class="hg-title-block__title">Cheyann S.</h3>
                        <h4 class="hg-title-block__subtitle">The home was very spacious, nice and clean with views of the beach. The home owner was very accommodating to our needs if we had any questions as well.

                             would definitely recommend anyone staying in this wonderful home I know i will be staying here in the future!</h4>
                    </div>
                    <div class="hg-testimonialSlider--image-boxes">
                        <img class="hg-testimonialSlider--image-boxes__element img-responsive"
                             src="{% static 'img-assets/rating-5.png' %}" alt="rating5">
                    </div>
                </div>


                <div class="testim bluebox2-margin">
                    <div class=" hg-title-block">
                        <h3 class="hg-title-block__title">Emily G.</h3>
                        <h4 class="hg-title-block__subtitle">We had a wonderful family vacation at the beach. The home is very well kept and comfortable. The owner is very conscientious and helpful. He went out of his way to return a GoPro Camera we left. We had a couple of nights that were a little loud with a bar across the street and because the AC was not as effective we kept the windows open for the ocean breeze. Overall wonderful! Will return! Thanks for a great stay!</h4>
                    </div>
                    <div class="hg-testimonialSlider--image-boxes">
                        <img class="hg-testimonialSlider--image-boxes__element img-responsive"
                             src="{% static 'img-assets/rating-5.png' %}" alt="rating5">
                    </div>
                </div>


                <div class="testim bluebox3-margin">
                    <div class=" hg-title-block">
                        <h3 class="hg-title-block__title">Eddie J.</h3>
                        <h4 class="hg-title-block__subtitle">We went on a family vacation and had enough room for all of us.  They had a grill on the patio and everything was provided all you had to bring was the food. We would recommend staying here to anyone and we look forward to another family vacation here.</h4>
                    </div>
                    <div class="hg-testimonialSlider--image-boxes">
                        <img class="hg-testimonialSlider--image-boxes__element img-responsive"
                             src="{% static 'img-assets/rating-5.png' %}" alt="rating5">
                    </div>
                </div>
        </div>
    </div><!-- end custom height container -->
</section>