<section class="hg-rewards">
    <div class="hg-bgsource">
        <div class="hg-rewards__bg">
        </div>
    </div>
    <div class="hg-rewards--rewards container">
        <div class="hg-title-block">
            <h3 class="hg-title-block__title">GET KEYS PLEASE REWARDS. GET CONNECTED.</h3>
            <h4 class="hg-title-block__subtitle">Tap into the power of perks, points, and exclusive deals. All from Keys Please Rewards.</h4>
        </div>
    </div>
</section>

<section class="hg-icon_section">
    <div class="hg-icon-bottom container">


        <div class="hg-title-block txt-center">
            <h3 class="hg-title-block__title">SERVICES</h3>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-61"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                FREE WIFI
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-62"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                AIR CONDITIONING
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-54"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                PRIVATE BATHROOM
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-63"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                SAFE
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->

            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-51"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                FLAT SCREEN TV
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-16"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                FREE MINI BAR
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-travel-19"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                ROOM SERVICE
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->
            <div class="col-md-3 col-sm-3">
                <div class="hg-iconbox--center-icon txt-center ">
                    <div class="hg-iconbox__icon-wrapper">
                        <span class="hg-iconbox__icon icon-lounge2"></span>
                    </div>
                    <div class="hg-iconbox__content-wrapper">
                        <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                            <h3>
                                POOL
                            </h3>
                        </div>
                        <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                            <p class="hg-iconbox__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                            </p>
                        </div>

                    </div>
                </div>
            </div><!-- end column -->



        </div>
    </div>
</section>