{% load staticfiles %}
<!--slider starts -->
<div class="clearfix">
    <div class="hg-slideshow">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="greekhotel-slider" data-source="gallery" style="background:rgba(102,102,102,0);padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.5.1 fullscreen mode -->
            <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.5.1">
                <ul>	<!-- SLIDE  -->
                    <li data-index="rs-1" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider_01cthumb.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider_15.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-1-layer-1"
                             data-x=""
                             data-y=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"

                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5;background-color:rgba(12,12,12,0.1);"> </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-15"
                             id="slide-1-layer-3"
                             data-x="center" data-hoffset="8"
                             data-y="center" data-voffset="97"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":2770,"speed":600,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Find your perfect stay . </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14"
                             id="slide-1-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-3"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;letter-spacing:5px;">Dream It, Plan it and Make It Happen <br/>You Deserve It
                             </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-2" data-transition="slotzoom-vertical" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider_09thumb.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider_09.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-2-layer-1"
                             data-x=""
                             data-y=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"

                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5;background-color:rgba(12,12,12,0.1);"> </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-15"
                             id="slide-2-layer-3"
                             data-x="center" data-hoffset="7"
                             data-y="center" data-voffset="97"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":1430,"speed":610,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Find your perfect stay . </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14"
                             id="slide-2-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-2"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;letter-spacing:5px;">You Know It,In Your Heart What You Want<br/>
                            Find Your Next Joyous Voyage </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-3" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider_11thumb.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider_11.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-3-layer-1"
                             data-x=""
                             data-y=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"

                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5;background-color:rgba(12,12,12,0.1);"> </div>

                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-15"
                             id="slide-3-layer-3"
                             data-x="center" data-hoffset="8"
                             data-y="center" data-voffset="97"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":2770,"speed":600,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Find your perfect stay . </div>

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14"
                             id="slide-3-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-3"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;letter-spacing:5px;">It’s That Time Of The Year<br/>
                            Vacation Time! </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-4" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider_11thumb.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider_12.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="normal" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-4-layer-1"
                             data-x=""
                             data-y=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"

                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5;background-color:rgba(12,12,12,0.1);"> </div>

                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-15"
                             id="slide-4-layer-3"
                             data-x="center" data-hoffset="8"
                             data-y="center" data-voffset="97"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":2770,"speed":600,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Find your perfect stay .</div>

                        <!-- LAYER NR. 12 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14"
                             id="slide-4-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-3"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;letter-spacing:5px;">Looking For the Perfect Getaway?<br/>We Got You Covered </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-5" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider_13thumb.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider_13.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="normal" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 13 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-5-layer-1"
                             data-x=""
                             data-y=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"

                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5;background-color:rgba(12,12,12,0.1);"> </div>

                        <!-- LAYER NR. 14 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-15"
                             id="slide-5-layer-3"
                             data-x="center" data-hoffset="8"
                             data-y="center" data-voffset="97"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":2770,"speed":600,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Find your perfect stay .  </div>

                        <!-- LAYER NR. 15 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14"
                             id="slide-5-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-3"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;letter-spacing:5px;">Trust Yourself And Discover, New Opportunities<br/>
                            Go On A Journey </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-6" data-transition="slotzoom-horizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/slider_14thumb.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{% static 'images/slider_14.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="normal" data-bgrepeat="no-repeat" data-bgparallax="8" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 16 -->
                        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
                             id="slide-6-layer-1"
                             data-x=""
                             data-y=""
                             data-width="['full','full','full','full']"
                             data-height="['full','full','full','full']"

                             data-type="shape"
                             data-basealign="slide"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 5;background-color:rgba(12,12,12,0.1);"> </div>

                        <!-- LAYER NR. 17 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-15"
                             id="slide-6-layer-3"
                             data-x="center" data-hoffset="8"
                             data-y="center" data-voffset="97"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":2770,"speed":600,"sfxcolor":"#ffffff","sfx_effect":"blockfromright","frame":"0","from":"z:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">Find your perfect stay . </div>

                        <!-- LAYER NR. 18 -->
                        <div class="tp-caption   tp-resizeme rs-parallaxlevel-14"
                             id="slide-6-layer-2"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset="-3"
                             data-width="['auto']"
                             data-height="['auto']"

                             data-type="text"
                             data-responsive_offset="on"

                             data-frames='[{"delay":10,"split":"chars","splitdelay":0.05,"speed":2000,"split_direction":"forward","frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['center','center','center','center']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"

                             style="z-index: 7; white-space: nowrap; font-size: 30px; line-height: 90px; font-weight: 500; color: #ffffff; letter-spacing: 0px;font-family:Poppins;text-transform:uppercase;letter-spacing:5px;">Planning Can Be Stressful
                            <br/>Finding the Perfect Stay Should Not Be </div>
                    </li>

                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
        </div><!-- END REVOLUTION SLIDER -->
    </div>
</div>
<!-- end clearfix -->