{% extends 'base/base.html' %}
{% load staticfiles i18n %}

{% block head_title %}Voyajoy | High traffic right now{% endblock %}
{% block seo_title %}Voyajoy | High traffic right now{% endblock %}
{% block content %}

    <section class="hg-contact">
        <div class="container">
            <div class="hg-title-block txt-center">
                <img src="{% static "images/Speedometer-Icon.png" %}" style="width: 60%">

                <h4 class="hg-title-block__title">We are experiencing high traffic right now. <br>Please visit us again at another time.</h4>
            </div>

        </div>


    </section>


{% endblock %}