{% extends 'base/base.html' %}
{% load staticfiles i18n %}
{% block head_title %}Voyajoy | About us{% endblock %}
{% block seo_title %}Voyajoy | About us{% endblock %}

{% block content %}

    <section class="hg-contact"><!-- start services section -->
        <div class="container">
            <div class="hg-title-block txt-center">
                <h3 class="hg-title-block__title" style="letter-spacing: 2px; text-transform: uppercase;">Our story</h3>
                <p>
                    We love housing and hosting people. More than four years ago, we hosted thousands of guests from all
                    over the world in our homes in Los Angeles. We saw firsthand homesharing and sharing our spaces
                    fostered more empathy and more openmindedness in the guests that we hosted that we wanted to make
                    homesharing more pervasive. In order to do so and mitigate the barriers, we built smart automation
                    and marketing software to make the process easier for anyone. We believe in building great services
                    and beautifully- and intelligently- designed products that will touch millions of people experiences
                    throughout the world.
                </p>

                <br>
                <br>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">
                            <div class="hg-iconbox__icon-wrapper">


                                <img src="https://monet.voyajoy.com/images/about/500-logo.png" class="ma3 retinize" width="160" height="160">
                            </div>
                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <h3>
                                        <a href="#"></a>
                                    </h3>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">We are a 500 Startups Batch 16 company and have been featured on TechCrunch and named top 20 fastest growing startups in 500 on Mattermark!
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->
                    <div class="col-md-4 col-sm-4">
                    </div>
                </div>


            </div>
        </div>

        <div class="cont-img"><img src="{% static 'images/about-laptop.jpg' %}" alt="room-image"></div>

        <div class="container">


            <div class="hg-title-block txt-center">
                <h3 class="hg-title-block__title" style="letter-spacing: 2px; text-transform: uppercase;">Our team</h3>
                <div class="row hg-content-iconbox">

                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="{% static 'images/img-team-diana.png' %}"
                                         class="custom-img">
                                    <h3>Diana</h3>
                                    <h4 style="color: #00A0D1">CEO & Co-Founder</h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">Diana is a Stanford MS in Computer Science and Dartmouth
                                        College grad. Consistently Top 5% in sales at Verizon Superpages, Yahoo! Search.
                                        Founded SAT prep school for I Have A Dream Foundation and received social gaming
                                        app acquisition offers from Zynga and Jam City. Diana enjoys live music, biking,
                                        and exploring the city.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="{% static 'images/img-team-wayne.png' %}"
                                         class="custom-img">
                                    <h3>Wayne</h3>
                                    <h4 style="color: #00A0D1">Sales Lead & Co-Founder</h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">Wayne has a B.S. in Business Administration at the
                                        Marshall School of Business at the University of Southern California. He has
                                        experience in digital marketing and sales. Wayne enjoys listening to all types
                                        of music, producing music, and entrepreneurship..
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="{% static 'images/img-team-ivan.png' %}"
                                         class="custom-img">
                                    <h3>Ivan</h3>
                                    <h4 style="color: #00A0D1">CTO & Co-Founder</h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">Ivan has a B.S. in Computer Science from Cal. Go Bears!
                                        He has 5+ years of experience building cool apps that people use all over the
                                        country. He loves dogs and enjoys playing tennis and camping.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                </div>
                <div class="row hg-content-iconbox">
                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="{% static 'images/img-team-chang.png' %}"
                                         class="custom-img">
                                    <h3>Chang</h3>
                                    <h4 style="color: #00A0D1">Director of Operations and Strategy</h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">Chang has a B.S. in Economics at Stanford University and
                                        has 20+ years of operating experience in diverse industries, including
                                        hospitality, private equity, telecommunications, and supply chain distribution.
                                        Prior to joining Voyajoy, Chang was the COO of RESI Housing, where he ran all
                                        day-to-day operations. Chang enjoys traveling the world, playing his guitar, and
                                        solving crossword puzzles.

                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="https://monet.voyajoy.com/images/about/team/aga.jpg"
                                         class="custom-img">
                                    <h3>Aga</h3>
                                    <h4 style="color: #00A0D1">Senior Front-end Developer
                                    </h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">Aga's main goal is to create a beautiful and
                                        user-friendly interfaces. Aga likes to spend her free time on outdoor activities
                                        like riding a bike or sightseeing trips. She won’t say no to a good movie or a
                                        detective mystery book when she stays in.


                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="https://monet.voyajoy.com/images/about/team/sebastian.jpg"
                                         class="custom-img">
                                    <h3>Sebastian</h3>
                                    <h4 style="color: #00A0D1">Senior Back-end Developer
                                    </h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">He knows everything to know about servers, databases,
                                        architecture, and security. He makes sure that your data is safe and the service
                                        we are providing works like a charm. After work Sebastian is a loving father of
                                        two kids and an active hiker. But when the weather isn’t nice Sebastian likes to
                                        take a dive into a fantasy world with a good book or a video game.


                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                </div>
                <div class="col-md-4 col-sm-4">
                    </div>
                <div class="row hg-content-iconbox">
                    <div class="col-md-4 col-sm-4">
                        <div class="hg-iconbox">

                            <div class="hg-iconbox__content-wrapper">
                                <div class="hg-iconbox__wrapper hg-iconbox__title-wrapper">
                                    <img src="https://monet.voyajoy.com/images/about/team/gregory.jpg"
                                         class="custom-img">
                                    <h3>Gregory</h3>
                                    <h4 style="color: #00A0D1">Senior Back-end Developer</h4>
                                </div>
                                <div class="hg-iconbox__wrapper hg-iconbox__desc-wrapper">
                                    <p class="hg-iconbox__desc">Gregory has a lot of love to a surrounding world. One
                                        thing he does not love is unreliable software so creating a quality code base is
                                        not only Gregory's duty but also his passion. After work he enjoys jogging and
                                        playing old-school platformers while listening to old-school rock.


                                    </p>
                                </div>

                            </div>
                        </div>
                    </div><!-- end column -->

                </div>
            </div>

        </div>
        <div class="cont-img"><img class="retinize w-100 mb4" src="https://monet.voyajoy.com/images/about/workspace-mac.jpg"></div>

    </section>






{% endblock %}