{% extends 'base/base.html' %}
{% load staticfiles i18n %}
{% block head_title %}Voyajoy | Careers{% endblock %}
{% block seo_title %}Voyajoy | Careers{% endblock %}

{% block content %}

    <section class="hg-contact"><!-- start services section -->
        <div class="container">
            <div class="hg-title-block txt-center">
                <h3 class="hg-title-block__title" style="letter-spacing: 2px; text-transform: uppercase;">Jobs</h3>
                <p>
                    We are committed to eliminating discrimination and encouraging diversity amongst our workforce.
                    Our aim is that each employee feels respected and able to give their best.<br class="clear" /><br class="clear" />

                    It is Voyajoy's policy not to discriminate against its workers on the basis of age, disability, gender reassignment,
                    marital or civil partner status, pregnancy or maternity, race, colour, nationality, ethnic or national origin,
                    religion or belief, sex or sexual orientation (together “protected characteristics”).

                </p>
            </div>
        </div>
    </section>






{% endblock %}