{% extends 'base/base.html' %}
{% load staticfiles i18n %}

{% block head_title %}Voyajoy | Policy{% endblock %}
{% block seo_title %}Voyajoy | Policy{% endblock %}
{% block content %}

    <section class="hg-contact"><!-- start services section -->
        <div class="container">
            <div class="hg-title-block txt-center">
                <h3 class="hg-title-block__title" style="letter-spacing: 2px; text-transform: uppercase;">Voyajoy Website Privacy Policy</h3>
                <p class="hg-title-block__title" style="letter-spacing: 2px; text-transform: uppercase;">Last Updated: November 2013</p>
                <h3 class="hg-title-block__title" style="letter-spacing: 2px; text-transform: uppercase;">Privacy policy</h3>


            </div><!--end container-->

            <div class="container">
                <h2 class="hg-title-block__title txt-center" style="letter-spacing: 2px; text-transform: uppercase;">Introduction</h2>
                <ol>
                    <li>
                        Voyajoy (“we” or “us”) take the privacy of your information very seriously. This policy explains how and for what purposes we use the information collected about you via this site (referred
                        to below as the “Site”). Please read this privacy policy carefully. By using the Site and any services we offer via the Site, you are agreeing to be bound by this policy in respect of the
                        information collected about you via this Site.
                    </li>
                    <li>
                        If you have any queries about the policy, please get in touch with us using our contact details and we will do our best to answer your questions.
                    </li>
                </ol>
            </div>

            <div class="container">
                <h2 class="hg-title-block__title txt-center" style="letter-spacing: 2px; text-transform: uppercase;">Personal information collected</h2>
                <p align="center">We will collect the following personal information from you</p>
                <ol>
                    <li>
                        Certain information required to register with the Site including first and last name, your address and date of birth together with some basic security information.
                    </li>
                    <li>
                        Details of any bookings you make through the Site (either through us or through third parties who use the Site as a booking platform).
                    </li>
                    <li>
                        Your e-mail address and password.
                    </li>
                    <li>
                        Billing information such as your credit card number and expiry date.
                    </li>
                    <li>
                        Other information about you that you voluntarily supply to use by filling out your profile page.
                    </li>
                    <li>
                        Although it is not compulsory to give us this information, if you do not then you
                        cannot register as a member of the Site or make a booking for accommodation with our Hosts.
                    </li>
                </ol>
            </div>
        </div>
    </section>






{% endblock %}